.layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.body {
    grid-column: 5 / 9;

    box-sizing: border-box;
    padding: 30px 33px 30px 33px;

    background: rgba(255, 255, 255, 0.45);
    border-radius: 5px;
}

.fieldOffset {
    margin-bottom: 20px;
}

.fieldsGroupOffset {
    margin-bottom: 40px;
}

.row {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.birthdateField {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 30px;
    box-sizing: border-box;
    font-family: "Inter";
}

.title, .label, .authInfo, .hint {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;

    display: flex;
    align-items: center;

    color: #1E1E1F;
}

.title {
    width: 100%;
    
    font-size: 34px;
    line-height: 46px;
    justify-content: center;
    
    margin-bottom: 45px;
}

.label {
    font-size: 16px;
    line-height: 27px;
    text-wrap: nowrap;
    margin-bottom: 2px;
}

.inlineLabel {
    margin-bottom: 0;
}

.checkboxLabel {
    margin-right: 5px;
}

.checkboxGroup {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 3px;
}

.hint {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    display: block;
}

.signupInfo {
    width: 100%;

    font-size: 16px;
    line-height: 27px;
    justify-content: center;

    color: #f41212;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.loginLink {
    color: #2629D9;
}