.button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1E1E1F;
    transition: all 0.3s;

    background-color: #2D61EB;
    border-radius: 10000px;
    box-sizing: border-box;
    padding: 5px 30px;

    border: none;
    cursor: pointer;
}

.button:hover {
    color: #000000;
}

.button.pink {
    background-color: #FF01B7;
}
