.body {
    margin-bottom: 26px;
}

.positiveBlock {
    margin-bottom: 14px;
}

.coefLabel, .useNegLink {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
} 

.coefLabel {
    font-size: 16px;
    margin-bottom: 4px;
    color: #1E1E1F;
}

.coefInput {
    max-width: 100px;
    font-size: 14px;
    height: 24px;

}

.useNegLink {
    font-size: 14px;
    color: #2D61EB;
    cursor: pointer;
}
